<div class="landing-cont">
  <div class="bg_landing">
    <div class="bg-img">
      <%= image_tag("Background_Landing_Northern_Lights.jpg", alt: "Picture of Northern Lights over mountains bordered by water") %>
    </div>
    <div class="title-ban">
      <%= image_tag("Icon_Front_01.png", alt: "Northern Lights") %>
    </div>
    <div class="next-sign">
      <%= image_tag("Icon_Front_02.png", alt: "Next Sign") %>
    </div>
    <div class="invit-cont">
      <div class="invitation-img">
        <%= image_tag("Background_Landing_Stars.jpg", alt: "A sky full of Stars") %>
      </div>

      <div class="invit-txt-top-left">
        le Chevalier et Madame<br>Bruno de Ghellinck
      </div>

      <div class="invit-txt-top-right">
        Monsieur et Madame<br>Bruno Montens
      </div>

      <div class="invit-txt-top-centre">
        Vous prient d’assister à la soirée qu’ils donneront pour leur filles
      </div>

      <div class="invit-name-left">
        <div class="first-letter">E</div>LINE
      </div>

      <div class="invit-logo">
        <%= image_tag("Northern_Lights_Logo.png", alt: "White Deer my Dear") %>
      </div>

      <div class="invit-name-right">
        <div class="first-letter">A</div>STRID
      </div>

      <div class="invit-date">
        Le Samedi 15 Février 2020 à 20 heures
      </div>

      <div class="invit-bottom-left">
        Proximus Lounge
          <br>Rue Stroobants 51 - 1140 Evere
          <br>Gsm du jour: 0477 545 145
      </div>

      <div class="invit-bottom-centre">
        Diner à 21 heres précises
          <br>Black tie - Northern Lights Touch
      </div>

      <div class="invit-bottom-right">
        RSVP avant le 15 Janvier
          <br>via
          <br>www.site-de-Gauthier.be
      </div>

      <div class="localisation-text">
        LOCALISATION
        <br>_______________________________
        <br>
        <br>POXIMUS LOUNGE
        <br>
        <div id="address" value="Brussels">Bruxelles</div>
        <br>RALLYES B YOU & CRAZY TOGETHER
      </div>

      <div class="localisation-map">
        <div id="map" style="height: 34vh; width: 42vw"></div>
<!--         <img id="map" src='https://api.mapbox.com/geocoding/v5/mapbox.places/Los%20Angeles.json?access_token=pk.eyJ1IjoiaXN0dmFubGF6IiwiYSI6ImNrNTVwMjNucDA4OGUzaG4xd3VlNmswb3IifQ.6gKRaulwU1Fx5C0VeyrXtg'>
 -->      </div>

      <div class="invit-groups">
        Groupe1  -  Groupe2  -  Groupe3  -  Groupe4  -  Groupe5
      </div>

      <div class="response-cont">
        <div class="btn response-btn">
          Répondre à l'invitation
        </div>
      </div>
    </div>
    <div class="footer-land">
      Copyright © 2020 István Lázár & Gauthier Wolters <br>
      All rights reserved.
    </div>
  </div>
</div>
