<div class="lift-cont">
  <div class="lift-bg">
    <%= cl_image_tag("nrkgbrxhvbqobstcrw64") %>
  </div>
  <div class="lift-subcont">
    <div class="bob-new">
      <div class="container">
        <h5><strong>ON THE ROAD AGAIN ! <br> MERCI !</strong></h5>
        <form action="/lifts" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="form-row">
            <div class="form-group form_inputs col-sm-6">
              <label for="first_name">PRÉNOM *</label>
              <input type="text" name="lift[first_name]" class="form-control form-control-lg"
                     id="first_name" placeholder="Étienne" autofocus="true" required>
            </div>
            <div class="form-group form_inputs col-sm-6">
              <label for="family_name">NOM DE FAMILLE *</label>
              <input type="text" name="lift[family_name]" class="form-control form-control-lg"
                     id="family_name" placeholder="de Crécy" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form_inputs col-sm-6">
              <label for="places_available">NOMBRE DE PLACES *</label>
              <select class="form-control" id="places_available" name="lift[places_available]">
                <option><%= 1 %></option>
                <option><%= 2 %></option>
                <option><%= 3 %></option>
                <option><%= 4 %></option>
                <option><%= 5 %></option>
                <option><%= 6 %></option>
              </select>
            </div>
            <div class="form-group form_inputs col-sm-6">
              <label for="contact">CONTACT *</label>
              <input type="text" name="lift[contact]" class="form-control form-control-lg"
                     id="contact" placeholder="email or phone" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form_inputs col-12">
              <label for="rallying_point">POINT DE RALLIEMENT *</label>
              <input type="text" name="lift[rallying_point]" class="form-control form-control-lg"
                     id="rallying_point" placeholder="Rond Point de Montgommery" maxlength="65" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form_inputs col-sm-6">
              <label for="departure">HORAIRE (DÉPART)*</label>
              <input type="time" name="lift[departure]" class="form-control form-control-lg"
                     id="departure" required>
            </div>
            <div class="form-group form_inputs col-sm-6">
              <label for="return">HORAIRE (RETOUR)</label>
              <input type="time" name="lift[return]" class="form-control form-control-lg"
                     id="return">
            </div>
          </div>
          <div class="form-row mt-3">
            <div class="col-12">
              <button type="submit" class="btn btn-lift">ENVOYER</button>
            </div>
          </div>
        </form>
           <a href="../../pages" class="btn btn-link">Back</a>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
