<div class="passenger-cont">
  <div class="passenger-bg">
    <%= cl_image_tag("nrkgbrxhvbqobstcrw64") %>
    <%#= image_tag("Background_Landing_Stars.jpg", alt: "A sky full of Stars") %>
  </div>
  <div class="passenger-view">
    <div class="full_title_lift">
      <div class="lift_title effect3d">
        <strong>Voici la page d'info de <%= @lift.first_name %>!</strong>
      </div>
      <br>
      <div class="lift_subtitle">
        Il y a actuellement <strong><%= @lift.passengers.count %></strong> passager(s) avec <%= @lift.first_name %> pour le grand soir!
      </div>
    </div>
    <!-- <div class="container"></div> -->
    <div class="passenger-show">
      <% @lift.passengers.each do |passenger|  %>
        <div class="passenger-card">
          <div class="passenger-name">
            <h4><u><strong><em><%= passenger.first_name %> <%= passenger.family_name %></em></strong></u></h4>
          </div>

          <div class="passenger-contact">
            Contact: <u><%= passenger.contact %></u>
          </div>

          <div class="passenger-places">
            Ce passager prendra: <strong><em><%= passenger.places %> place(s)</em></strong>
          </div>

          <div class="passenger-trip">
            <div class="trip-check">
              Aller:
              <% if passenger.aller == true %>
                <div class="trip-checked"><span></span></div>
              <% else %>
                <div class="trip-not-checked"><span></span></div>
              <% end %>
            </div>

            <div class="trip-check">
              Retour:
              <% if passenger.retour == true %>
                <div class="trip-checked"><span></span></div>
              <% else %>
                <div class="trip-not-checked"><span></span></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="btn-lift-new" id="btn-passenger">
      <%= link_to "Back", lift_index_path %>
    </div>
  </div>
</div>
