<nav class="navbar-northern-lights">
    <ul class="navbar-links">
      <li class="navbar-item">
        <%= link_to "Accueil", accueil_index_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Répondre",  repondre_index_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Lifts", lifts_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Dress Code", dress_code_index_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Photos", photos_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Remerciements", remerciements_path %>
      </li>
    </ul>
  <div class="logo"><%= link_to "Northern Lights", accueil_index_path %></div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

</nav>

<!-- <li class="nav-item dropdown">
            <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%#= link_to "Action", "#", class: "dropdown-item" %>
              <%#= link_to "Another action", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", "#", class: "dropdown-item" %>
            </div>
          </li> -->
          <!-- </div> -->
