<div class="navbar-northern-lights">
    <ul class="navbar-links">
      <li class="navbar-item">
        <%= link_to "Accueil", accueil_index_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Répondre",  new_reponse_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Lifts", pages_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Dress Code", dress_code_index_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Photos", photos_path %>
      </li>
      <li class="navbar-item">
        <%= link_to "Remerciements", new_remerciement_path %>
      </li>
    </ul>
  <div class="logo"><%= link_to "Northern Lights", accueil_index_path %></div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

</div>
