<div class="dc-cont">
  <div class="dc-bg">
    <%= image_tag("Background_Landing_Stars.jpg", alt: "A sky full of Stars") %>
  </div>
  <div class="dc-chart">
    <div class="dc-pic" id="dc-pic-1">
      <%= image_tag("dress_code/bs_pic1.png", alt: "Another bulshit pic") %>
    </div>

    <div class="dc-pic" id="dc-pic-2">
      <%= image_tag("dress_code/bs_pic2.PNG", alt: "A bulshit pic") %>
    </div>

    <div class="dc-pic" id="dc-pic-3">
      <%= image_tag("dress_code/bs_pic1.png", alt: "Another bulshit pic") %>
    </div>

    <div class="dc-pic" id="dc-pic-4">
      <%= image_tag("dress_code/bs_pic2.PNG", alt: "A bulshit pic") %>
    </div>

    <div class="dc-pic" id="dc-pic-5">
      <%= image_tag("dress_code/bs_pic1.png", alt: "Another bulshit pic") %>
    </div>

    <div class="dc-pic" id="dc-pic-6">
      <%= image_tag("dress_code/bs_pic2.PNG", alt: "A bulshit pic") %>
    </div>

    <div class="dc-pic" id="dc-pic-7">
      <%= image_tag("dress_code/bs_pic1.png", alt: "Another bulshit pic") %>
    </div>

    <div class="line" id="line-1"></div>

    <div class="line" id="line-2"></div>

    <div class="line" id="line-3"></div>

    <div class="line" id="line-4"></div>

    <div class="line" id="line-5"></div>

    <div class="line" id="line-6"></div>

    <div class="line" id="line-7"></div>
  </div>
</div>
