<div class="dc-cont">
  <div class="dc-top-cont">
    <div class="dc-bg1">
      <%= cl_image_tag("ofayem9xd56rixqioqyu") %>
    </div>
    <div class="dc-intro">
      <div class="dc-title"><h1>TOUCHE - DRESS CODE</h1></div>
      <div class="dc-sub-title"><br>SHINING AMONG THE STARS</div>
    </div>
  </div>
  <div class="dc-bg2">
    <%= cl_image_tag("nrkgbrxhvbqobstcrw64") %>
  </div>
  <div class="dc-chart">
    <div class="dc-chart-title"><h2>INSPIRATIONS</h2></div>
    <div class="constellation">
      <div class="dc-pic" id="dc-pic-1">
        <%= cl_image_tag("nm9csru0mfvk26x6yrz9") %>
      </div>

      <div class="dc-pic" id="dc-pic-2">
        <%= cl_image_tag("fdpbn8xkrcpgljyxtn8g") %>
      </div>

      <div class="dc-pic" id="dc-pic-3">
        <%= cl_image_tag("pyrqcfkuayjkguk1vhn0") %>
      </div>

      <div class="dc-pic" id="dc-pic-4">
        <%= cl_image_tag("zdba3bbqlh6e33gz9xda") %>
      </div>

      <div class="dc-pic" id="dc-pic-5">
        <%= cl_image_tag("eniwv7e7uv3l2uhd1if6") %>
      </div>

      <div class="dc-pic" id="dc-pic-6">
        <%= cl_image_tag("xiwonoq4uta1ykx26fgo") %>
      </div>

      <div class="dc-pic" id="dc-pic-7">
        <%= cl_image_tag("zfcewewtrwu2q5lm7sqs") %>
      </div>

      <div class="line" id="line-1"></div>

      <div class="line" id="line-2"></div>

      <div class="line" id="line-3"></div>

      <div class="line" id="line-4"></div>

      <div class="line" id="line-5"></div>

      <div class="line" id="line-6"></div>

      <div class="line" id="line-7"></div>
    </div>
  </div>
</div>
